@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000000;
}
@media (max-width: 1920px)
{
  .pokemon-grid
   {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   }
}
@media (max-width: 1200px)
{
  .pokemon-grid
   {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   }
}
@media (max-width: 600px)
{
  .pokemon-grid
   {
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
   }

}
.pokemon-grid {
  display: grid;
}

.pokemon-card {
  border: 1px solid black;
  padding: 10px;
  background-color: #a7a6a6;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
  border: none;
}
.pokemon-card:hover {
  transform: scale(1.1);
}
.pokemon-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: rgb(212, 204, 204);
  border-radius: 50%;
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 680px;
  right: 420px;
  background-color: w;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

h3 {
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  letter-spacing: 1px;
}
p {
  font-size: 8px;
  padding: px;
}
h1 {
  color: #eeeeee;
}

#loadMoreButtonContainer {
  text-align: center;
  margin-top: 20px;
  height: 40px;
width: 100%;
}
#loadMoreButton {
  height: 100%;
width: 120px;
border-radius: 10px;
background-color: #a7a6a6;
border: none;
}

#searchBarContainer {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchBar {
  text-align: center;
  height: 30px;
  border-radius: 10px;
  border: none;
}
#searchButton {
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  border: none;
}
#searchButton svg {
  width: 18px;
  height: 18px;
  fill: #a7a6a6;
}

#searchButton:hover svg {
  fill: #333;
  
}
#searchButton:hover {
  background: #a7a6a6;
}
