@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000000;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pokemon-card {
  border: 1px solid black;
  padding: 10px;
  background-color: #a7a6a6;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}
.pokemon-card:hover {
  transform: scale(1.1);
}
.pokemon-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: rgb(212, 204, 204);
  border-radius: 50%;
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 680px;
  right: 420px;
  background-color: w;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.pokemon-details {
  margin-top: 20px;
}

.pokemon-details p {
  margin: 5px 0;
}

h3 {
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  letter-spacing: 1px;
}
p {
  font-size: 8px;
  padding: px;
}
h1 {
  color: #eeeeee;
}
